*.pyc
# Temp vim files
*.swp
files/.vim/.netrwhist
files/.vim/pack
files/.vim/backup/*~

# Decrypted files
# don't need this anymore since we are using git-crypt
#files/config
#files/.pypirc
#files/.netrc

# Store folder
.linux-setup-store
